<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnionApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>422B7D3B1F4622A500AA921B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>422B7D511F4622A500AA921B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>422B7D5C1F4622A500AA921B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
